{% extends "./base.html" %}
  {% load static %}
    {% block wrapper %}
               
               
                <form action="{% url 'author_login' %}" method="post">
                     <div class="inform-wrapper">
                        {% csrf_token %}
                        <ul>
                        {% for field in form %}
                        <li>{{field.label_tag}}</li>
                        <li>{{field}}</li>
                        {% endfor %}
                        </ul>
                        <input value="Log In" type="submit"/>
                </div>
                </form>
                
                
  {% endblock %}
