{% load static %}
   <html>
    <head>
        <link href="{% static 'book_keeping' %}" rel="stylesheet" type="text/css"/>
        <title>HOMEPAGE</title>
        
    </head>
    <body>
        {% if user.is_authenticated %}
            <div class="message">
            {% if messages %}
                <ul>
                {% for m in messages %}
                    <li>TAG : {{m.tags}} </li>
                    <li>MESSAGE : {{m}} </li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
            <h1 align="center">Hi, {{ author.first_name }}. How are you today</h1>
            <h2 align="center">
                Are you from {{ author.country }} really ??
            </h2> 


            <h3><a href={% url 'author_logout' %}>Logout</a></h3>
        {% else %}
            <h1>Not loged in </h1>
        {% endif %}
    
        
        
        <p><a href="{% url 'add_book' %}"> Add a book </a></p>
        <p><a href="{% url 'books' 'my' %}"> View your books </a></p>
        <p><a href="{% url 'author_genres' %}"> View your genres </a></p>
        
    </body>
    
</html>